In [57]:
import pandas as pd
import numpy as np

In [58]:
#generate days
all_dates = pd.date_range('2021-01-01', '2021-12-15')
business_dates = pd.bdate_range('2021-01-01', '2021-12-31')

#generate tickers
tickers = ['AAPL', 'FB', 'GE', 'AMZN', 'DAI']

#create indexs
index_alt = pd.MultiIndex.from_product([all_dates, tickers], names=['Date', 'Ticker'])
index = pd.MultiIndex.from_product([business_dates, tickers], names=['Date', 'Ticker'])

# create DFs
market_data = pd.DataFrame(index=index,
                        data=np.random.randn(len(index), 3),
                        columns=['Open','Close','Close_Adjusted'])

alternative_data = pd.DataFrame(index=index_alt,
                                data=np.random.randn(len(index_alt), 2),
                                columns=['Twitter','Reddit'])

In [59]:
print(market_data, "\n")
print(alternative_data)

                       Open     Close  Close_Adjusted
Date       Ticker
2021-01-01 AAPL   -0.239311 -1.114537       -0.550628
           FB      1.031973 -0.491285       -0.090263
           GE      0.017679 -1.031930       -0.525254
           AMZN    2.203134  1.082798       -1.302699
           DAI     0.709692 -0.092909        0.816090
...                     ...       ...             ...
2021-12-31 AAPL   -1.825338 -0.687805       -0.311387
           FB     -0.100841 -0.416421        1.233889
           GE      0.936938 -0.775427       -0.303041
           AMZN   -2.098752  0.597307        2.085867
           DAI     0.038870  1.093369       -1.127217

[1305 rows x 3 columns]

                    Twitter    Reddit
Date       Ticker
2021-01-01 AAPL    0.689608 -2.203597
           FB     -1.368539  3.103677
           GE      1.609594 -0.394432
           AMZN    1.557468 -0.391880
           DAI    -1.820512  1.158096
...                     ...       ...
2021-12-15 AAPL    1.885828 -2.188160
           FB     -0.688947 -0.128864
           GE     -0.328925 -0.840073
           AMZN    0.763451  0.587033
           DAI     0.861984  0.993188

[1745 rows x 2 columns]

In [60]:
merged_df = market_data.merge(alternative_data, how="left", left_on=["Date", "Ticker"], right_on=["Date", "Ticker"])
#market_data.merge(alternative_data, how='left', left_index=True, right_index=True)
filled_df = merged_df.fillna(0)
merged_df

                       Open     Close  Close_Adjusted   Twitter    Reddit
Date       Ticker
2021-01-01 AAPL   -0.239311 -1.114537       -0.550628  0.689608 -2.203597
           FB      1.031973 -0.491285       -0.090263 -1.368539  3.103677
           GE      0.017679 -1.031930       -0.525254  1.609594 -0.394432
           AMZN    2.203134  1.082798       -1.302699  1.557468 -0.391880
           DAI     0.709692 -0.092909        0.816090 -1.820512  1.158096
...                     ...       ...             ...       ...       ...
2021-12-31 AAPL   -1.825338 -0.687805       -0.311387       NaN       NaN
           FB     -0.100841 -0.416421        1.233889       NaN       NaN
           GE      0.936938 -0.775427       -0.303041       NaN       NaN
           AMZN   -2.098752  0.597307        2.085867       NaN       NaN
           DAI     0.038870  1.093369       -1.127217       NaN       NaN

[1305 rows x 5 columns]

In [63]:
filled_df.sum().sum() == merged_df.sum().sum()

np.True_