In [3]:
import pandas as pd

In [4]:
values = [20.45, 22.89, 32.12, 111.22, 33.22, 100, 99.99]
products = ["table", "chair", "chair", "mobile phone", "table", "mobile phone", "table"]

df_dict = dict(
    value = values,
    product = products,
)

df = pd.DataFrame(df_dict)
df.groupby("product").agg(["min", "max", "mean"])
# df.groupby("product")["value"].agg(["min", "max", "mean"])
# df.groupby('product').agg({'value':['min','max','mean']})

               value
                 min     max     mean
product
chair          22.89   32.12   27.505
mobile phone  100.00  111.22  105.610
table          20.45   99.99   51.220