In [30]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [31]:
X_train = [['Python'], ['Java'], ['Java'], ['C++']]
X_test = [['Python'], ['Java'], ['C'], ['C++']]

In [32]:
enc = OneHotEncoder(handle_unknown="ignore")
enc.fit(X_train)
X_train_transform = enc.transform(X_train)
pd.DataFrame(data=X_train_transform.toarray(), columns=enc.categories_[0])

   C++  Java  Python
0  0.0   0.0     1.0
1  0.0   1.0     0.0
2  0.0   1.0     0.0
3  1.0   0.0     0.0

In [34]:
X_test_transform = enc.transform(X_test)
pd.DataFrame(data=X_test_transform.toarray(), columns=enc.categories_)

   C++ Java Python
0  0.0  0.0    1.0
1  0.0  1.0    0.0
2  0.0  0.0    0.0
3  1.0  0.0    0.0