In [85]:
import pandas as pd
import numpy as np

In [86]:
np_array = np.array((["Blue", [1, 2], 1.1], 
          ["Red", [3, 4], 2.2], 
          ["Pink", [5, 6], 3.3], 
          ["Gray", [7, 8], 4.4],
          ["Black", [9, 10], 5.5]), dtype=list)

In [87]:
np_df = pd.DataFrame(np_array, columns=["color", "list", "number"], index=[1, 3, 5, 7, 9])
np_df

   color     list number
1   Blue   [1, 2]    1.1
3    Red   [3, 4]    2.2
5   Pink   [5, 6]    3.3
7   Gray   [7, 8]    4.4
9  Black  [9, 10]    5.5

In [88]:
color_serie = pd.Series(["Blue", "Blue", "Pink", "Gray", "Black"], name="color", index=[1, 3, 5, 7, 9])
list_serie = pd.Series([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]], name="list", index=[1, 3, 5, 7, 9])
number_serie = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5], name="number", index=[1, 3, 5, 7, 9])
pd_df = pd.DataFrame({
    color_serie.name: color_serie, 
    list_serie.name: list_serie,
    number_serie.name: number_serie
})
pd_df

   color     list  number
1   Blue   [1, 2]     1.1
3   Blue   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Gray   [7, 8]     4.4
9  Black  [9, 10]     5.5

In [89]:
for col in pd_df.columns:
    print(type(pd_df[col]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [90]:
for col in pd_df.columns:
    print(type(pd_df[col].iloc[0]))

<class 'str'>
<class 'list'>
<class 'numpy.float64'>